.login-form > * {
  margin: 0;
  width: 100%;
}

.login-form button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-form input {
  border: 0;
  height: var(--item-height);
  padding: 0;
  text-align: center;
}

.game-list a {
  color: var(--dark-1);
  text-decoration: none;
}

.arena h3 {
  letter-spacing: 5px;
}

.arena ul.news {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.debrief ol li {
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
}

.debrief ol li:last-child, .debrief li:first-child {
  border-bottom: none;
}
