:root {
  /* dimensions */
  --brd-radius: 8px;
  --outer-padding: 15px;
  --list-item-height: 50px;

  /* colors*/
  --light-1: #eee;
  --light-2: beige;
  --dark-1: darkslategrey;
  --dark-2: #8db4b4;
}
